---
action: 'shop:receipt'
template: main
protocol: all
published: true
name: Receipt
url: '/receipt/:paymenthash'
---
{% if invoice %}
<div id="receipt" class="wrapper">
  <h1>Thanks For Your Order!</h1>
  <p>You're order number is <strong>{{ invoice.order.number }}</strong>. Look for a confirmation email soon. Questions?</p>
  <p>Customer Service: support@lemonstand.com or 1-855-332-0555</p>
  <p><strong>Order Date: </strong> {{ invoice.order.created_at.format('M jS, Y') }}</p>
  <p><strong>Payment method: </strong> {{ payment.guessPaymentMethod().name }}</p>

  <table class="receipt-items">
    <tr>
      <td><h2><strong>Product</strong></h2></td>
      <td><h2><strong>Qty</strong></h2></td>
      <td><h2><strong>Total</strong></h2></td>
    </tr>
    {% for shipment in invoice.shipments %}
    {% for item in shipment.shipmentItems %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity|number_format(0) }}</td>
        <td>{{ (item.quantity *item.pivot.price)|currency }}</td>
      </tr>
    {% endfor %}
    {% endfor %}
  </table>

  <hr>

  {% if invoice.isPaid() %}

  <div class="receipt-totals">

    <div class="receipt-totals-description">
      {% if invoice.getDiscountTotal() > 0 %}
        <h3>Discount</h3>
      {% endif %} 
      <h3>Subtotal</h3>
        <h3>Shipping</h3>
      <h3>Tax</h3>
      <h2>Total</h2>
    </div>

    <div class="receipt-totals-amount">
      {% if invoice.getDiscountTotal() > 0 %}
        <h3>{{ invoice.getDiscountTotal()|currency }}</h3>
      {% endif %} 
      <h3>{{ invoice.subtotal|currency }}</h3>
      <h3>{{ invoice.total_shipping_quote|currency }}</h3>
      <h3>{{ invoice.tax_total|currency }}</h3>      
      <h2>{{ invoice.total|currency }}</h2>
    </div>

    <a class="button call-to-action" href="{{ site_url('shop') }}">Continue Shopping</a>

  </div>
  {% else %}
    <p><a class="button next" href="{{ site_url('review/'~order.order_hash) }}">Place order</a></p>
  {% endif %}

</div>

{% else %}
  <div class="wrapper">
    <p class="flash error">Invoice not found.</p>  
  </div>
{% endif %}