---
description: 'Checkout Template'
---
<!DOCTYPE html>
<html>
<head>
  {{ code_block('setup') }}

  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="Description" content="{{ page.description }}"/>
  <meta name="Keywords" content="{{ page.keywords }}"/>
  <link rel="icon" type="image/png" href="{{ theme.faviconImage.thumbnail('16', '16') }}"/>

  <title>{{ page.title }} | {{ theme.storeTitle }}</title>

  <link rel="stylesheet" type="text/css" href="/cms/core.css">
  <link rel="stylesheet" type="text/css" href="{{ 'stylesheets/main.css'|theme_resource }}">
  <link rel="stylesheet" type="text/css" href="{{ 'stylesheets/responsive.css'|theme_resource }}">

  <script type="text/javascript" src="{{ 'scripts/jquery.js'|theme_resource }}"></script>
  <script type="text/javascript" src="{{ 'scripts/app.js'|theme_resource }}"></script>
  <script type="text/javascript" src="/cms/core.js"></script>

</head>
  <header>
    <div id="header-wrap">
    <nav>

      <div id="logo" style="margin: auto; width: 100%; text-align: center;">
        <a href="{{ site_url('/') }}"><img style="width:202px;" src="{{ theme.logoImage.thumbnail('37', 'auto') }}" alt="" class="logo"></a>
      </div>

  </div>
  </header>
  <body>
    {{ page() }}
  </body>
  <footer>
    <div class="wrapper">
      <ul>
        <li><a href="{{ site_url('contact') }}">Contact</a></li>
        <li><a href="http://blog.lemonstand.com/">Blog</a></li>
        <li><a href="{{ theme.linkedInUrl }}">Jobs</a></li>
        <li><a href="{{ theme.twitterUrl }}">@LemonStand</a></li>
      </ul>
      <ul>
        <li><a href="{{ site_url('about') }}">About</a></li>
        <li><a href="{{ site_url('shop') }}">Shop</a></li>
        <li><a href="{{ theme.facebookUrl }}">Facebook</a></li>
        <li><a href="{{ site_url('privacy') }}">Privacy</a></li>
      </ul>
      <ul id="copyright">
        <li><a href="https://lemonstand.com"><img src="{{ theme.footerLogo.thumbnail('auto', 'auto') }}" alt="" class="logo"></a></li>
        <li>Made with &#127819; by <a href="https://lemonstand.com">LemonStand</a></li>
      </ul>
    </div>
  </footer>
</html>
